main ul {
  list-style-type: none;
  display: inline;
}
main .introduction {
  display: grid;
  grid-template-columns: 65% 35%;
}
main .welcome-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
}